framework:
  messenger:
    failure_transport: failed

    transports:
      async:
        dsn: '%env(MESSENGER_TRANSPORT_DSN)%'

      failed:
        dsn: 'doctrine://default?queue_name=failed'

    default_bus: messenger.bus.command

    buses:
      messenger.bus.command:
        middleware:
          - validation

      messenger.bus.query:
        middleware:
          - validation

    routing:
      'App\Shared\Application\Command\CommandInterface': async
