services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\Shared\Application\:
    resource: '../src/Shared/Application/'
    exclude:
      - '../src/Shared/Application/Bus/'

  App\Shared\Application\Bus\CommandBusInterface:
    alias: App\Shared\Infrastructure\Bus\SymfonyCommandBus
  App\Shared\Application\Bus\QueryBusInterface:
    alias: App\Shared\Infrastructure\Bus\SymfonyQueryBus

  App\Shared\Infrastructure\:
    resource: '../src/Shared/Infrastructure/'
  App\Shared\Infrastructure\Bus\SymfonyCommandBus:
    arguments:
      $bus: '@messenger.bus.command'
  App\Shared\Infrastructure\Bus\SymfonyQueryBus:
    arguments:
      $bus: '@messenger.bus.query'

  App\Ingestion\Application\:
    resource: '../src/Ingestion/Application/'
  App\Ingestion\Infrastructure\:
    resource: '../src/Ingestion/Infrastructure/'
  App\Ingestion\Presentation\:
    resource: '../src/Ingestion/Presentation/'

  _instanceof:
    App\Shared\Application\Command\CommandHandlerInterface:
      tags:
        - { name: messenger.message_handler, bus: messenger.bus.command }

    App\Shared\Application\Query\QueryHandlerInterface:
      tags:
        - { name: messenger.message_handler, bus: messenger.bus.query }

  App\Ingestion\Domain\Repository\LogStreamRepositoryInterface:
    alias: App\Ingestion\Infrastructure\Repository\Write\LogStreamRepository
  App\Ingestion\Application\ReadModel\LogStreamReadModelRepositoryInterface:
    alias: App\Ingestion\Infrastructure\Repository\Read\CachedLogStreamReadModelRepository
